.buildpath
.git/
.project
.settings/
assets/
home/assets/
mhome/assets/

protected/runtime/*.log
protected/runtime/application.*
protected/config/*.php
protected/runtime/
protected/runtime/*.*
protected/config/*.php
upload/
html/phpmyadmin
html/phpmyadmin.tar.gz
home/html/un

home/protected/runtime/*.log
home/protected/runtime/application.*
home/protected/config/*.php
home/protected/runtime/
home/protected/runtime/*.*
home/protected/config/*.php
home/upload/
home/download/
home/pp/
home/pp
home/tmp/
home/tmp
home/html/phpmyadmin
home/html/phpmyadmin.tar.gz

fang/protected/runtime/*.log
fang/protected/runtime/application.*
fang/protected/config/*.php
fang/protected/runtime/
fang/protected/runtime/*.*
fang/protected/config/*.php
fang/upload/
fang/html/phpmyadmin
fang/html/phpmyadmin.tar.gz

hunsha/protected/runtime/*.log
hunsha/protected/runtime/application.*
hunsha/protected/config/*.php
hunsha/protected/runtime/
hunsha/protected/runtime/*.*
hunsha/protected/config/*.php
hunsha/upload/

mhome/protected/runtime/*.log
mhome/protected/runtime/application.*
mhome/protected/config/*.php
mhome/protected/runtime/
mhome/protected/runtime/*.*
mhome/protected/config/*.php
mhome/upload/
mhome/html/phpmyadmin
mhome/html/phpmyadmin.tar.gz
