body {  					
	background-color: #171b20;
	font-family:Verdana; 
	color:white;
}
#panosalado{				
	margin-top:20px;
	margin-bottom:10px;
}	
#googlecode{
	text-align:center;
}
a, a:visited{
	color:#FFFFFF;
}
a:hover{
	color:#FF0000;
}	