@CHARSET "UTF-8";
body{
	background-image: url(/style/img/bg.png);
	margin:0;
	padding:0;
	color:#FFFFFF;
}
.clear{
	clear:both;
}
a{
	color:#FFFFFF;
	text-decoration:none;
}
h3{
	margin:8px 0;
}
dt, dd{
	margin:0;
	padding:0;
}
ul,li{
	margin:0;
	padding:0;
	list-style-type:none;
}
li{
	height:35px;
}
p{
	margin:2px 0 ;
}
.hide{
	display:none;
}
.fleft{
	float:left;
}
.fright{
	float:right;
}

.content{
	width:980px; 
	margin:0 auto;
	
}

.header{
	height:30px;
	line-height:30px;
}
.header .items{
	width:400px;
	
}
.header .login{
	width:200px;
	text-align:right;
}
.footer{
	height:50px;
}
.left_demo{
	width:382px;
	
	background: url(/style/img/iphone4s_384x613.png) no-repeat; 
}
.right_make{
	width:575px;
	
	margin:0 0 0 10px;
	border:1px solid #666666;
	padding:5px;
}

.editor{
	color:black;
	margin:0 auto;
	text-align:center;
	line-height:20px;
}

.edui-label{
	color:black;
}
.start_make{
	color:#FFFFFF;
	font-size:24px;
	margin:300px 0 0 300px;
}
.form_box{
	padding:5px;
	border:1px solid #666666;
	margin:5px 0 0 5px;
}
dt{
	cursor:pointer;
	height:25px;
	background-color:#454545;
	line-height:25px;
}
.form_box dd{
	padding:5px 5px 10px 5px ;
}

.map_canvas{
	width:550px;
	height:300px;
	position:relative;
}
#map_desc{
	width:350px;
	height:100px;
}
.demo_window{
	margin:60px 0 0 29px;;
}
.save{
	width:74px;
	height:28px;
	background:url("./save.png") repeat scroll 0 0 transparent;
	border:none;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
}
.album_pic{
	width:100px;
	height:155px;
	float:left;
	text-align:center;
	margin:0 0 0 5px;
}
.album_pic img{
	width:100px;
}
.album_pic span{
	display:block;
	font-size:12px;
	border-bottom:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	padding:3px 0 3px;
}
.album_pic a{
	cursor:pointer;
	font-size:12px;
}
.album_pic input{
	width:90px;
}
.album_pic .img_box{
	height:100px;
}
.album_pic img{
	width:100px;
	height:100px;
}
.album_box{
	display:block;
}
.desc .login{
	width:200px;
	margin:0 auto;
	line-height:35px;
	padding: 0 0 50px 0;
}
.erweima{
	margin:70px 0 0 0;
	text-align:center;
}



