@CHARSET "UTF-8";
.clear{
	clear:both;
}
/* .projects .ui-li-thumb{
	max-height:80px;
	max-width:80px;
}
.projects .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb{
	padding:10px 10px 10px 90px;
} */

.projects .ui-li-thumb{
	max-height:100px;
	max-width:200px;
}
.projects .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb{
	padding:20px 10px 20px 210px;
}

.panos .ui-li-thumb{
	max-height:100px;
	max-width:200px;
}
.panos .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb{
	padding:20px 10px 20px 210px;
}

.next_page{
	margin:20px 0 0 0;
}
.loading{
	margin:10px auto;
	width:40px;
	height:40px;
}


