@CHARSET "UTF-8";
.clear{
	clear:both;
}
.projects .ui-li-thumb{
	max-height:80px;
	max-width:80px;
}
.projects .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb{
	padding:10px 10px 10px 90px;
}
.next_page{
	margin:20px 0 0 0;
}
.panos .ui-li-thumb{
	max-height:80px;
	max-width:160px;
}
.panos .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb{
	padding:10px 10px 10px 170px;
}